<div class="flex flex-col items-center justify-center min-h-screen bg-gray-900">
    <h1 class="text-9xl font-bold text-white">404</h1>
    <h2 class="mt-4 text-2xl font-semibold text-gray-300">{{ 'NOT_FOUND.TITLE' | translate }}</h2>
    <p class="mt-2 text-gray-400">{{ 'NOT_FOUND.DESCRIPTION' | translate }}</p>
    <a routerLink="/app/home" class="mt-6 px-6 py-2 text-white bg-blue-600 rounded hover:bg-blue-700 focus:ring-4 focus:ring-blue-800 cursor-pointer">
        {{ 'NOT_FOUND.GO_BACK_HOME' | translate }}
    </a>
</div>