<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0">
    <a href="#" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <span>{{ 'NAVBAR.BRAND_NAME' | translate }}</span>  
    </a>
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800">
        <div class="w-full p-6 sm:p-8">
            <h2 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">
                {{ 'AUTH.FORGOT_PASSWORD.TITLE' | translate }}
            </h2>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                {{ 'AUTH.FORGOT_PASSWORD.ENTER_EMAIL' | translate }}
            </p>
            <form class="mt-8 space-y-6" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm.value)" #formDir="ngForm">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ 'AUTH.FORGOT_PASSWORD.EMAIL' | translate }}
                    </label>
                    <input type="email" formControlName="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="name@company.com" required>
                    <div *ngIf="passwordResetForm.get('email')?.invalid && passwordResetForm.get('email')?.touched" class="text-sm text-red-500 mt-1">
                        {{ 'AUTH.FORGOT_PASSWORD.EMAIL_REQUIRED' | translate }}
                    </div>
                </div>
                <button type="submit"
                    class="flex items-center justify-center w-full px-5 py-3 text-base font-medium text-center text-white bg-gray-700 border border-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:ring-gray-600 dark:focus:ring-gray-900 cursor-pointer">
                    {{ 'AUTH.FORGOT_PASSWORD.SUBMIT_BUTTON' | translate }}
                </button>
            </form>
        </div>
    </div>
</div>