<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0">
    <a href="#" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <span>{{ 'NAVBAR.BRAND_NAME' | translate }}</span>
    </a>
    <div class="w-full max-w-xl p-6 space-y-8 bg-white rounded-lg shadow sm:p-8 dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            {{ 'ACCOUNT.PASSWORD_INFO' | translate }}
        </h2>
        <form class="mt-8 space-y-6" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ 'ACCOUNT.NEW_PASSWORD' | translate }}
                </label>
                <input type="password" formControlName="password" name="password" id="password" placeholder="••••••••"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required>
                <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched"
                    class="text-sm text-red-500 mt-1">
                    {{ 'ACCOUNT.PASSWORD_REQUIRED' | translate }}
                </div>
            </div>
            <div>
                <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ 'ACCOUNT.CONFIRM_PASSWORD' | translate }}
                </label>
                <input type="password" formControlName="confirmPassword" name="confirm-password" id="confirm-password"
                    placeholder="••••••••"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required>
                <div *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched"
                    class="text-sm text-red-500 mt-1">
                    {{ 'ACCOUNT.FULLNAME_REQUIRED' | translate }}
                </div>
            </div>
            <button type="submit"
                class="flex items-center justify-center w-full px-5 py-3 text-base font-medium text-center text-white bg-gray-700 border border-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:ring-gray-600 dark:focus:ring-gray-900 cursor-pointer">
                {{ 'ACCOUNT.SAVE' | translate }}
            </button>
        </form>
    </div>
</div>
